apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Values.name }}
  ports:
    - protocol: TCP
      port: {{ int .Values.servicePort }}
      targetPort: {{ int .Values.port }}
