trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - "*/*"
    exclude:
      - README.md
pr: none

resources:
  - repo: self

variables:
  dockerRegistryServiceConnection: "wayrudev-registry-2"
  imageRepository: "wayru/operators-web"
  containerRegistry: "wayrudev.azurecr.io"
  dockerfilePath: "Dockerfile"
  tag: "$(Build.BuildId)"
  # kubernetesServiceConnection: "operators-web-prod"
  # namespace: "operators"

  # Agent VM image name
  vmImageName: "ubuntu-latest"

stages:
  - stage: Build
    displayName: Build stage
    jobs:
      - job: Build
        displayName: Build
        pool:
          vmImage: $(vmImageName)
        steps:
          - task: Docker@2
            displayName: Build image
            inputs:
              command: build
              repository: $(imageRepository)
              dockerfile: $(dockerfilePath)
              containerRegistry: $(dockerRegistryServiceConnection)
              buildContext: "$(Build.SourcesDirectory)"
              arguments: |
                --secret id=stripe_key,env=STRIPE_SECRET_KEY
                --secret id=stripe_public_key,env=NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY
              tags: |
                $(tag)
                latest
            env:
              STRIPE_SECRET_KEY: $(STRIPE_SECRET_KEY)
              NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY: $(NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY)
          - task: Docker@2
            displayName: Push image
            inputs:
              command: push
              repository: $(imageRepository)
              containerRegistry: $(dockerRegistryServiceConnection)
              tags: |
                $(tag)
                latest
