trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - "*/*"
    exclude:
      - README.md
pr: none

resources:
  - repo: self

variables:
  dockerRegistryServiceConnection: "wayrudev-registry"
  imageRepository: "wayru/operators-web"
  containerRegistry: "wayrudev.azurecr.io"
  dockerfilePath: "Dockerfile"
  tag: "$(Build.BuildId)"
  # kubernetesServiceConnection: "operators-web-prod"
  # namespace: "operators"

  # Agent VM image name
  vmImageName: "ubuntu-latest"

stages:
  - stage: Build
    displayName: Build stage
    jobs:
      - job: Build
        displayName: Build
        pool:
          vmImage: $(vmImageName)
        steps:
          - script: |
              echo "=== Environment Variables ==="
              echo "STRIPE_SECRET_KEY: $MAPPED_STRIPE_SECRET_KEY"
              echo "DEV_VAR: $DEV_VAR"
              if [ "$MAPPED_STRIPE_SECRET_KEY" = "NO_VISIBLE" ]; then
                echo "String mapped are equal."
              else
                echo "String mapped are not equal."
              fi
              if [ "$DEV_VAR" = "VISIBLE" ]; then
                echo "Strings are equal."
              else
                echo "Strings are not equal."
              fi
              echo "=== End Environment Variables ==="
            env:
              MAPPED_STRIPE_SECRET_KEY: $(STRIPE_SECRET_KEY)
              DEV_VAR: $(DEV_VAR)

          - task: Docker@2
            displayName: Build and push an image to container registry
            inputs:
              command: buildAndPush
              repository: $(imageRepository)
              dockerfile: $(dockerfilePath)
              containerRegistry: $(dockerRegistryServiceConnection)
              buildContext: "$(Build.SourcesDirectory)"
              arguments: |
                --build-arg STRIPE_SECRET_KEY="$MAPPED_STRIPE_SECRET_KEY"
              tags: |
                $(tag)
                latest
            env:
              MAPPED_STRIPE_SECRET_KEY: $(STRIPE_SECRET_KEY)